<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <filter>
        <filter-name>RoleFilter</filter-name>
        <filter-class>Filter.RoleFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>RoleFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>HomeController</servlet-name>
        <servlet-class>Controllers.HomeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VerifyForgetController</servlet-name>
        <servlet-class>Controllers.VerifyForgetController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConfirmUserControllers</servlet-name>
        <servlet-class>Controllers.ConfirmUserControllers</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminAddLessonController</servlet-name>
        <servlet-class>Controllers.AdminAddLessonController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminLessonController</servlet-name>
        <servlet-class>Controllers.AdminLessonController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminUpdateLessonController</servlet-name>
        <servlet-class>Controllers.AdminUpdateLessonController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HomeController</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>Controllers.LoginController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>CourseController</servlet-name>
        <servlet-class>Controllers.CourseController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CourseController</servlet-name>
        <url-pattern>/course</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>SignUpController</servlet-name>
        <servlet-class>Controllers.SignUpController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SignUpController</servlet-name>
        <url-pattern>/signup</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ForgetPasswordController</servlet-name>
        <servlet-class>Controllers.ForgetPasswordController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ForgetPasswordController</servlet-name>
        <url-pattern>/forgetpassword</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AdminController</servlet-name>
        <servlet-class>Controllers.AdminCourseController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdminController</servlet-name>
        <url-pattern>/admincourse</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AddCourse</servlet-name>
        <servlet-class>Controllers.AddCourseController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddCourse</servlet-name>
        <url-pattern>/addcourse</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>CourseDetailController</servlet-name>
        <servlet-class>Controllers.CourseDetailController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CourseDetailController</servlet-name>
        <url-pattern>/coursedetail</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>LessonController</servlet-name>
        <servlet-class>Controllers.LessonController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LessonController</servlet-name>
        <url-pattern>/lesson</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>LogoutController</servlet-name>
        <servlet-class>Controllers.LogoutController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LogoutController</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>SearchController</servlet-name>
        <servlet-class>Controllers.SearchController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SearchController</servlet-name>
        <url-pattern>/search</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AdminUpdateCourseController</servlet-name>
        <servlet-class>Controllers.AdminUpdateCourseController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdminUpdateCourseController</servlet-name>
        <url-pattern>/adminupdatecourse</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ChangePassword</servlet-name>
        <servlet-class>Controllers.ChangePasswordController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ChangePassword</servlet-name>
        <url-pattern>/changepassword</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>LessonDetailController</servlet-name>
        <servlet-class>Controllers.LessonDetailController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LessonDetailController</servlet-name>
        <url-pattern>/lessondetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditProfileUser</servlet-name>
        <url-pattern>/editprofileuser</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>EditProfileUser</servlet-name>
        <servlet-class>Controllers.EditProfileUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserInforController</servlet-name>
        <servlet-class>Controllers.UserInforController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserInforController</servlet-name>
        <url-pattern>/userinfor</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>VerifyMailController</servlet-name>
        <servlet-class>Controllers.VerifyMailController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>VerifyMailController</servlet-name>
        <url-pattern>/verifymail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VerifyForgetController</servlet-name>
        <url-pattern>/verifyforget</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConfirmUserControllers</servlet-name>
        <url-pattern>/confirmuser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminAddLessonController</servlet-name>
        <url-pattern>/adminaddlesson</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminLessonController</servlet-name>
        <url-pattern>/adminlesson</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminUpdateLessonController</servlet-name>
        <url-pattern>/adminupdatelesson</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>home</welcome-file>
    </welcome-file-list>
</web-app>
